.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meals-loading {
  margin-top: 10vh;
  text-align: center;
  color: #fff;
  font-size: 48px;
}

.meals-error {
  margin-top: 10vh;
  text-align: center;
  color: rgb(255, 104, 104);
  font-size: 48px;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
